/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'regular';
  font-weight: 400;
  src: url('../assets/fonts/regular.otf');
}

@font-face {
  font-family: 'bold';
  font-weight: 700;
  src: url('../assets/fonts/bold.otf');
}

@font-face {
  font-family: 'thin';
  font-weight: 100;
  src: url('../assets/fonts/thin.otf');
}

.animated-background {
  background-size: 400%;

  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@layer base {
  body {
    @apply m-0;
    @apply p-0;
    @apply box-border;
    @apply font-regular;
    @apply min-h-screen;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply leading-normal;
    @apply scroll-smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  #root {
    @apply flex;
    @apply min-h-screen;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  @keyframes animation {
    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }

  ul,
  ol {
    @apply list-none;
  }
}

@layer components {
  .btn-submit {
    @apply hover:bg-blue-400 hover:cursor-pointer transition-all hover:scale-105 font-bold bg-blue-500 text-white w-fit self-end py-1 px-3 mt-3 rounded-md;
  }

  .btn-auth {
    @apply w-fit text-lg mt-3 px-3 py-1 rounded-md hover:cursor-pointer hover:scale-105 transition-all hover:underline;
  }

  .input-auth {
    @apply mt-1 w-full px-4 mb-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 focus:outline-none transition duration-300 ease-in-out;
  }
}
